# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

#Build directories
android/.gradle/
android/app/build/
android/app/client_secret_123895870085-7oncthmv7ebjh4c9dgu9oe1h1k2oipvs.apps.googleusercontent.com.json
android/app/debug.keystore
android/gradle.properties
android/app/src/main/res/values/strings.xml
ios/Pods/
ios/DerivedData/
ios/build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env

# local env files
.env*.local

# typescript
*.tsbuildinfo

# others
android/app/release-key.jks
.idea/
.log
.DS_Store