aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
aiosqlite==0.20.0
alabaster==0.7.16
amqp==5.2.0
annotated-types==0.7.0
anyio==3.6.2
apeye==1.4.1
apeye-core==1.1.5
asgiref==3.6.0
async-timeout==4.0.3
attrs==23.1.0
autobahn==24.4.2
autodocsumm==0.2.13
Automat==24.8.1
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.15.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.22.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
black==24.8.0
blinker==1.4
blis==0.7.11
build==1.2.1
CacheControl==0.14.0
cachetools==5.5.0
camelot-py==0.9.0
catalogue==2.0.10
celery==5.4.0
certifi==2024.8.30
cffi==1.17.0
channels==4.0.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.5
ci-info==0.3.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudevents==1.11.0
cloudpathlib==0.19.0
coloredlogs==15.0.1
colorlog==6.8.2
command-not-found==0.3
confection==0.1.5
configobj==5.0.8
configparser==7.1.0
constantly==23.10.4
cryptography==43.0.0
cssutils==2.11.1
cymem==2.0.8
daphne==4.1.2
dataclasses-json==0.6.7
dbus-python==1.2.18
dependency-injector==4.41.0
Deprecated==1.2.14
deprecation==2.1.0
dict2css==0.3.0.post1
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2
django-admin-tools==0.9.3
django-cors-headers==4.0.0
django-debug-toolbar==4.3.0
django-redis==5.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
docutils==0.18.1
domdf-python-tools==3.9.0
drf-spectacular==0.26.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
et-xmlfile==1.1.0
etelemetry==0.3.1
fastapi==0.112.2
filelock==3.15.4
fitz==0.0.1.dev2
flake8==6.0.0
flatbuffers==24.3.25
frontend==0.0.3
frozenlist==1.4.1
fsspec==2024.6.1
google-auth==2.34.0
googleapis-common-protos==1.65.0
greenlet==3.0.3
grpcio==1.66.1
gyp==0.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httptools==0.5.0
httpx==0.27.2
huggingface-hub==0.24.6
humanfriendly==10.0
hyperlink==21.0.0
idna==3.4
imagesize==1.4.1
importlib_metadata==8.4.0
importlib_resources==6.4.4
incremental==24.7.2
inflection==0.5.1
isodate==0.6.1
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.5.0
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpointer==3.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
keyring==23.5.0
kombu==5.4.0
kubernetes==30.1.0
langchain==0.1.5
langchain-community==0.0.20
langchain-core==0.1.23
langcodes==3.4.0
langsmith==0.0.87
language_data==1.2.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
looseversion==1.3.0
lxml==5.3.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
mccabe==0.7.0
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==9.0.0
mpmath==1.3.0
msal==1.25.0
msal-extensions==1.1.0
msgpack==1.0.4
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
natsort==8.4.0
netifaces==0.11.0
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
numpy==1.26.0
oauthlib==3.2.2
onnxruntime==1.19.0
openai==1.43.0
opencv-python==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pathlib==1.0.1
pathspec==0.11.1
pdfminer.six==20240706
Pillow==9.5.0
platformdirs==4.1.0
ply==3.11
portalocker==2.10.1
posthog==3.6.0
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.4
prov==2.0.1
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.10.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydot==3.0.1
pyflakes==3.0.1
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pyOpenSSL==24.2.1
pyparsing==3.1.4
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.1.0
pyrsistent==0.19.3
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytils==0.4.1
pytz==2023.3
pyxnat==1.6.2
PyYAML==6.0.2
rdflib==6.3.2
redis==5.0.8
redisvl==0.3.2
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.8.0
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scipy==1.14.1
SecretStorage==3.3.1
service-identity==24.1.0
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smart-open==7.0.4
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.6
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.2.4
sphinx-autodoc-typehints==1.25.2
sphinx-jinja2-compat==0.2.0.post1
sphinx-prompt==1.8.0
sphinx-rtd-theme==2.0.0
sphinx-tabs==3.4.4
sphinx-toolbox==3.5.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.32
sqlparse==0.4.4
srsly==2.4.8
starlette==0.38.4
sympy==1.13.2
systemd-python==234
tabula==1.0.5
tabula-py==2.9.3
tabulate==0.9.0
tenacity==8.5.0
thinc==8.2.5
tokenizers==0.20.0
tomli==2.0.1
tools==0.1.9
tqdm==4.66.5
traits==6.3.2
Twisted==24.7.0
txaio==23.1.1
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
unittest-xml-reporting==3.2.0
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.22.0
uvloop==0.20.0
vine==5.1.0
wadllib==1.3.6
wasabi==1.1.3
watchfiles==0.19.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
wrapt==1.16.0
xmlrunner==1.7.7
yarl==1.9.7
zipp==1.0.0
zope.interface==7.0.3
